{% extends 'authentication/dashboard_base.html' %} {% block body %}

<!-- ORG-UNIT Card -->
<div
  class="bg-white p-6 rounded-lg shadow-lg flex items-center justify-between hover:bg-gray-100 mb-6"
>
  <div class="space-x-4">
    <a
      href="{% url 'facility_creation' %}"
      class="bg-purple-600 text-white px-4 py-2 rounded-md shadow hover:bg-purple-700"
      >View all</a
    >
    <a
      href="{% url 'view-all-facilities' %}"
      class="bg-red-600 text-white px-4 py-2 rounded-md shadow hover:bg-red-700"
      >Facilities</a
    >
    <a
      href="{{ request.META.HTTP_REFERER }}"
      class="bg-blue-700 text-white px-4 py-2 rounded-md shadow hover:bg-blue-800"
      >Go back</a
    >
  </div>
</div>

<div class="flex flex-wrap -mx-4">
  <!-- Add Region -->
  <div class="w-full md:w-1/2 p-4">
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h2 class="text-2xl font-bold text-blue-500 mb-4">
        <i class="fa-solid fa-house-medical"></i> Add Region
      </h2>
      <div>
        {% for message in messages %}
        <div class="alert alert-success">{{ message }}</div>
        {% endfor %}
      </div>
      <form class="space-y-4" method="POST">
        {% csrf_token %}
        <div>
          <label class="block text-gray-700 font-medium mb-2" for="region_name"
            >Region Name</label
          >
          <input
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            id="region_name"
            name="region_name"
            type="text"
            placeholder="Enter region name"
            required
          />
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2" for="region_code"
            >Region Code</label
          >
          <textarea
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            id="region_code"
            name="region_code"
            placeholder="Enter region code"
          ></textarea>
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2" for="date_created"
            >Date of creation</label
          >
          <input
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            id="date_created"
            type="date"
            name="date_created"
            placeholder="Select date"
            required
          />
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2" for="created_by"
            >Created By</label
          >
          <input
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            id="created_by"
            type="text"
            value="{{ user.first_name }} {{ user.last_name }}"
            name="created_by"
            readonly
            required
          />
        </div>
        <div class="text-center">
          <button
            class="bg-blue-600 text-white px-6 py-2 rounded-lg shadow hover:bg-blue-700"
            type="submit"
          >
            Create Region
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Add District -->
  <div class="w-full md:w-1/2 p-4">
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h2 class="text-2xl font-bold text-green-500 mb-4">
        <i class="fa-solid fa-house-medical"></i> Add District
      </h2>
      <div>
        {% for message in messages %}
        <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
        <script>
          Toastify({
            text: "{{ message }}",
            duration: 3000,
            gravity: "top",
            position: "center",
            backgroundColor: "green",
            stopOnFocus: true,
          }).showToast();
        </script>
        {% endfor %}
      </div>
      <form class="space-y-4" method="POST">
        {% csrf_token %}
        <div>
          <label
            class="block text-gray-700 font-medium mb-2"
            for="district_region"
            >Region Name</label
          >
          <select
            class="w-full p-3 bg-gray-100 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            name="district_region"
            id="district_region"
          >
            {% for region in regions %}
            <option value="{{ region.id }}">{{ region.region_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label
            class="block text-gray-700 font-medium mb-2"
            for="district_name"
            >District Name</label
          >
          <input
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            id="district_name"
            name="district_name"
            type="text"
            placeholder="Enter district name"
            required
          />
        </div>
        <div>
          <label
            class="block text-gray-700 font-medium mb-2"
            for="district_code"
            >District Code</label
          >
          <textarea
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            id="district_code"
            name="district_code"
            placeholder="Enter district code"
          ></textarea>
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2" for="date_created"
            >Date of creation</label
          >
          <input
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            id="date_created"
            type="date"
            name="date_created"
            placeholder="Select date"
            required
          />
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2" for="created_by"
            >Created By</label
          >
          <input
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            id="created_by"
            type="text"
            value="{{ user.first_name }} {{ user.last_name }}"
            name="created_by"
            readonly
            required
          />
        </div>
        <div class="text-center">
          <button
            class="bg-green-600 text-white px-6 py-2 rounded-lg shadow hover:bg-green-700"
            type="submit"
          >
            Create District
          </button>
        </div>
      </form>
    </div>
  </div>

  <!-- Add Facility -->
  <div class="w-full md:w-1/2 p-4">
    <div class="bg-white p-6 rounded-lg shadow-lg">
      <h2 class="text-2xl font-bold text-yellow-500 mb-4">
        <i class="fa-solid fa-house-medical"></i> Add Facility
      </h2>
      <div>{% for message in messages %} {% endfor %}</div>
      <form class="space-y-4" method="POST">
        {% csrf_token %}
        <div>
          <label
            class="block text-gray-700 font-medium mb-2"
            for="facility_region"
            >Region Name</label
          >
          <select
            class="w-full p-3 bg-gray-100 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            name="facility_region"
            id="facility_region"
          >
            {% for region in regions %}
            <option value="{{ region.id }}">{{ region.region_name }}</option>
            {% endfor %}
          </select>
        </div>
        <div>
          <label
            class="block text-gray-700 font-medium mb-2"
            for="facility_district"
            >District Name</label
          >
          <select
            class="w-full p-3 bg-gray-100 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            name="facility_district"
            id="facility_district"
          >
            <!-- Options will be populated dynamically via AJAX -->
          </select>
        </div>
        <div>
          <label
            class="block text-gray-700 font-medium mb-2"
            for="facility_name"
            >Facility Name</label
          >
          <input
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            id="facility_name"
            name="facility_name"
            type="text"
            placeholder="Enter facility name"
            required
          />
        </div>
        <div>
          <label
            class="block text-gray-700 font-medium mb-2"
            for="facility_code"
            >Facility Code</label
          >
          <textarea
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            id="facility_code"
            name="facility_code"
            placeholder="Enter facility code"
          ></textarea>
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2" for="date_created"
            >Date of creation</label
          >
          <input
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            id="date_created"
            type="date"
            name="date_created"
            placeholder="Select date"
            required
          />
        </div>
        <div>
          <label class="block text-gray-700 font-medium mb-2" for="created_by"
            >Created By</label
          >
          <input
            class="w-full p-3 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
            id="created_by"
            type="text"
            value="{{ user.first_name }} {{ user.last_name }}"
            name="created_by"
            readonly
            required
          />
        </div>
        <div class="text-center">
          <button
            class="bg-yellow-600 text-white px-6 py-2 rounded-lg shadow hover:bg-yellow-700"
            type="submit"
          >
            Create Facility
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    function fetchDistricts(regionId) {
      $.ajax({
        url: "{% url 'get_districts' %}",
        type: "GET",
        data: { region_id: regionId },
        success: function (response) {
          $("#facility_district").empty();
          $.each(response.districts, function (index, district) {
            $("#facility_district").append(
              $("<option>", {
                value: district.id,
                text: district.district_name,
              })
            );
          });
        },
        error: function (xhr, errmsg, err) {
          console.log("Error:", errmsg);
        },
      });
    }

    $("#facility_region").on("change", function () {
      var selectedRegionId = $(this).val();
      fetchDistricts(selectedRegionId);
    });
  });
</script>

<script>
  flatpickr("#date_created", {
    dateFormat: "Y-m-d",
  });
</script>

{% endblock %}
