{% extends 'authentication/dashboard_base.html' %} {% block body %}

    <!-- Health Informatics Module -->
    <div class="container mx-auto mt-8 px-4">
        <h2 class="text-2xl font-semibold mb-4">Dashboard Overview</h2>
        <!-- Add ORG-UNIT Card -->
    <div
    class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
  >
    <div>
      <a
        class="bg-purple-500 inline-block px-4 py-2 text-sm text-white rounded"
        href="{% url 'add_region' %}"
        >Create Org Unit</a
      >
      <a
        class="bg-red-500 inline-block px-4 py-2 text-sm text-white rounded"
        href="{% url 'view-all-facilities' %}"
        >Delete Org Unit</a
      >
    </div>
  </div>
  </div>



  <div class="container mx-auto py-8">
    <h1 class="text-2xl font-bold mb-4">Regions, Districts, and Facilities</h1>
    <div class="mb-4">
        <form method="GET" class="flex items-center">
            <input type="text" name="q" placeholder="Search regions, districts, and facilities..." value="{{ query }}"
                class="border border-gray-300 rounded-md py-2 px-4 mr-2 focus:outline-none focus:border-blue-500">
            <button type="submit"
                class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-md focus:outline-none focus:bg-blue-600">
                Search
            </button>
        </form>
       
      </div>
    <div class="overflow-x-auto">
      <table class="w-full bg-white shadow-md rounded-lg overflow-hidden text-center">
        <thead class="bg-gray-200">
          <tr>
            <th class="px-4 py-2">Region Name</th>
            <th class="px-4 py-2">Districts</th>
            <th class="px-4 py-2">Facilities</th>
            <th class="px-4 py-2">Date Region Created</th>
            <th class="px-4 py-2">Region Created by</th>

          </tr>
        </thead>
        <tbody>
          {% for region in regions %}
          <tr>
            <td class="border px-4 py-2">{{ region.region_name }}</td>
            <td class="border px-4 py-2">
              <ul>
                {% for district in region.district_set.all %}
                <li>{{ district.district_name }}</li>
                {% endfor %}
              </ul>
            </td>
            <td class="border px-4 py-2">
              <ul>
                {% for district in region.district_set.all %}
                <i> {% for facility in district.facility_set.all %}<i>
                <li>{{ facility.facility_name }}</li>
                {% endfor %} {% endfor %}
              </ul>
            </td>
            <td class="border px-4 py-2">{{ region.date_created }}</td>
            <td class="border px-4 py-2">{{ region.created_by.first_name }} {{ region.created_by }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</body>
{% endblock %}
