{% extends 'authentication/dashboard_base.html' %} {% block body %}

<!-- Health Informatics Module -->
<!-- Add ORG-UNIT Card -->

<div
  class="bg-white p-4 rounded-md shadow-md flex items-center justify-between hover:bg-gray-100"
>
  <div>
    <a
      class="bg-gray-500 inline-block px-4 py-2 text-sm text-white rounded"
      href="{% url 'dashboard' %}"
      >Go to Dashboard</a
    >
    <a
      class="bg-purple-500 inline-block px-4 py-2 text-sm text-white rounded"
      href="#"
      >Modify Entries</a
    >
    <a
      class="bg-red-500 inline-block px-4 py-2 text-sm text-white rounded"
      href="#"
      >View entries</a
    >
    <a
      class="bg-blue-950 inline-block px-4 py-2 text-sm text-white rounded"
      href="{{ request.META.HTTP_REFERER }}"
      >Go back</a
    >
  </div>
</div>

<section class="py-1 bg-gray-400">
  <div class="w-full lg:w-8/12 px-4 mx-auto mt-6">
    <div
      class="relative flex flex-col min-w-0 break-words w-full mb-6 shadow-lg rounded-lg bg-blueGray-100 border-0"
    >
      <div class="rounded-t bg-white mb-0 px-6 py-6">
        <div class="text-center flex justify-between">
          <h6 class="text-blueGray-700 text-xl font-bold">
            Maternal Deaths Entry Form
          </h6>
          <button
            class="bg-pink-500 text-white active:bg-pink-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 ease-linear transition-all duration-150"
            type="button"
          >
            Print Form
          </button>
        </div>
      </div>
      <div class="flex-auto px-4 lg:px-10 py-10 pt-0">
        <form>
          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
            Facility and Bio-Data
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-1xl font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Region
                </label>
                <select
                  name="facility_region"
                  id="facility_region"
                  class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                >
                  {% for region in regions %}
                  <option value="{{ region.id }}">
                    {{ region.region_name }}
                  </option>
                  {% endfor %}
                </select>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-1xl font-bold mb-2"
                  htmlfor="grid-password"
                >
                  District
                </label>
                <select
                  name="facility_district"
                  id="facility_district"
                  class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                >
                  <!-- Options will be populated dynamically via AJAX -->
                </select>
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-1xl font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Facility
                </label>
                <select
                  name="facility_name"
                  id="facility_name"
                  class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                >
                  <!-- Options will be populated dynamically via AJAX -->
                </select>
              </div>
            </div>

            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-1xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Name of deceased
                </label>
                <input
                  type="text"
                  id="name_of_deceased"
                  name="name_of_deceased"
                  placeholder="name of deceased"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-1xs font-bold mb-2"
                  for="dob_unknown"
                >
                  Date of birth unknown?
                </label>
                <div class="flex items-center">
                  <input
                    type="checkbox"
                    id="dob_unknown"
                    name="dob_unknown"
                    class="h-8 w-8 text-blue-600 focus:ring-blue-500 border-gray-300 rounded"
                    onchange="toggleFields()"
                  />
                  <label
                    for="dob_unknown"
                    class="ml-2 block text-sm text-gray-900"
                    >Yes</label
                  >
                </div>
              </div>
            </div>

            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-1xs font-bold mb-2"
                  for="date_of_birth"
                  >Date of birth / (age)
                </label>
                <input
                  type="text"
                  id="date_of_birth"
                  name="date_of_birth"
                  placeholder="select date"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
                <input
                  type="number"
                  id="age"
                  name="age"
                  placeholder="enter age"
                  style="display: none"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>

            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-1xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Educational Status
                </label>
                <select
                  name="educational_status"
                  id="educational_status"
                  class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                >
                  <option value="none">None</option>
                  <option value="primary">Primary</option>
                  <option value="middle/JHS">Middle/JHS</option>
                  <option value="secondary/SHS">Secondary/SHS</option>
                  <option value="tertiary">Tertiary</option>
                  <option value="dont know">Dont Know</option>
                </select>
              </div>
            </div>

            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-1xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Occupation
                </label>
                <select
                  name="occupation"
                  id="occupation"
                  class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                >
                  <option value="unemployed">Unemployed</option>
                  <option value="house wife">House wife</option>
                  <option value="farming">Farming</option>
                  <option value="trading">Trading</option>
                  <option value="artisan">
                    Artisan(hairdresser, seamstress etc)
                  </option>
                  <option value="other (specify)">Other (Specify)</option>
                </select>
              </div>
            </div>

            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-1xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Other occupation (Specify)
                </label>
                <input
                  type="text"
                  id="other_occupation"
                  name="other_occupation"
                  style="display: none"
                  placeholder="specify other occupation"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>

            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-1xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Marital Status
                </label>
                <select
                  name="marital_status"
                  id="marital_status"
                  class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                >
                  <option value="never married">Never Married</option>
                  <option value="married">Married</option>
                  <option value="living together">Living Together</option>
                  <option value="divorced/separated">Divorced/Separated</option>
                  <option value="widowed">Widowed</option>
                </select>
              </div>
            </div>

            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-1xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Religion
                </label>
                <select
                  name="religion"
                  id="religion"
                  class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                >
                  <option value="christian">Christian</option>
                  <option value="muslim">Muslim</option>
                  <option value="traditionalist/ spiritualist">
                    Traditionalist/ Spiritualist
                  </option>
                  <option value="others (specify)">Others (Specify)</option>
                </select>
              </div>
            </div>

            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-1xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Other Religion (Specify)
                </label>
                <input
                  type="text"
                  id="other_religion"
                  name="other_religion"
                  style="display: none"
                  placeholder="specify other religion"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>

            <!--ethnicity-->
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-1xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Ethnicity
                </label>
                <select
                  name="ethnicity"
                  id="ethnicity"
                  class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                >
                  <option value="akan">Akan</option>
                  <option value="ga/dangbe">Ga/Dangbe</option>
                  <option value="ewe">Ewe</option>
                  <option value="mole/dagbani">Mole/Dagbani</option>
                  <option value="grussi">Grussi</option>
                  <option value="gruma">Gruma</option>
                  <option value="others (specify)">Others (Specify)</option>
                </select>
              </div>
            </div>

            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-1xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Other Ethnicity (Specify)
                </label>
                <input
                  type="text"
                  id="other_ethnicity"
                  name="other_ethnicity"
                  style="display: none"
                  placeholder="specify other ethnicity"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>
          </div>

          <hr class="mt-6 border-b-1 border-blueGray-300" />
          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
            SECTION B: OBSTETRIC INFORMATION
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Gravidity
                </label>
                <input
                  type="text"
                  id="gravidity"
                  name="gravidity"
                  placeholder="enter gravidity"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>

            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Parity (include current delivery)
                </label>
                <input
                  type="text"
                  id="parity"
                  name="parity"
                  placeholder="enter parity"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>

            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  ANC during this pregnancy?
                </label>
                <select
                  name="anc"
                  id="anc"
                  class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                >
                  <option value="">--select--</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                  <option value="dont know">Dont Know</option>
                </select>
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3"></div>
              <!--empty field div-->
            </div>
            <!--starts from here-->
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Total No. of ANC Visits
                </label>
                <input
                  type="number"
                  id="total_anc_visits"
                  name="total_anc_visits"
                  style="display: none"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Place of ANC
                </label>
                <select
                  name="place_of_anc"
                  id="place_of_anc"
                  style="display: none"
                  class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                >
                  <option value="teaching hospital">Teaching Hospital</option>
                  <option value="regional hospital">Regional Hospital</option>
                  <option value="health centre">District Hospital</option>
                  <option value="polyclinic">Polyclinic</option>
                  <option value="district hospital">Health Centre</option>
                  <option value="clinic">Clinic</option>
                  <option value="CHPS compound">CHPS Compound</option>
                  <option value="private maternity home">
                    Private Maternity Home
                  </option>
                  <option value="others (specify)">Others (Specify)</option>
                </select>
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Gestational Age at booking
                </label>
                <input
                  type="number"
                  id="gestational_age"
                  name="gestational_age"
                  placeholder="(in weeks)"
                  style="display: none"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>
            <!--above is the closing div-->
            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Identified ANC risk factor(s)
                </label>
                <select
                  name="identified_risk_factors"
                  id="identified_risk_factors"
                  placeholder="select"
                  multiple
                  class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                >
                  <option selected value="none">None</option>
                  <option value="hypertension">Hypertension</option>
                  <option value="sickle cell disease">
                    Sickle Cell Disease
                  </option>
                  <option value="previous caesarean section">
                    Previous Caesarean Section
                  </option>
                  <option value="diabetes mellitus">
                    Anaemia (HB < 11 g/dl; most current)
                  </option>
                  <option value="previous PPH">Previous PPH</option>
                  <option value="others (specify)">Others (Specify)</option>
                </select>
              </div>
            </div>

            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  other Identified ANC risk factor(s)
                </label>
                <input
                  type="text"
                  id="other_risk_factors"
                  name="other_risk_factors"
                  placeholder="(specify)"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>

            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  HIV status
                </label>
                <select
                  name="hiv_status"
                  id="hiv_status"
                  class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                >
                  <option value="">--select--</option>
                  <option value="reactive">Reactive</option>
                  <option value="non-reactive">Non-reactive</option>
                  <option value="dont know">Dont Know</option>
                </select>
              </div>
            </div>

            <div class="w-full lg:w-6/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Put on ARV
                </label>
                <select
                  name="on_ARV"
                  id="on_ARV"
                  style="display: none"
                  class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                >
                  <option value="">select</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                  <option value="dont know">Dont Know</option>
                </select>
              </div>
            </div>

            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Date of arrival
                </label>
                <input
                  type="date"
                  id="date_of_arrival"
                  name="date_of_arrival"
                  placeholder="selct date"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>

            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Time of arrival
                </label>
                <input
                  type="time"
                  id="time_of_arrival"
                  name="time_of_arrival"
                  placeholder="selct time"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>

            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Time Treatment Started
                </label>
                <input
                  type="time"
                  id="time_of_arrival"
                  name="time_of_arrival"
                  placeholder="selct time"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>

            <hr class="mt-6 border-b-1 border-blueGray-300" />
            <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
              SECTION B: OBSTETRIC INFORMATION
            </h6>
            <div class="flex flex-wrap">
              <div class="w-full lg:w-12/12 px-4">
                <div class="relative w-full mb-3">
                  <label
                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    htmlfor="grid-password"
                  >
                    Referral from another health facility?
                  </label>
                  <select
                    name="referral_from_another_facility"
                    id="referral_from_another_facility"
                    class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                  >
                    <option value="">--select--</option>
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                    <option value="dont know">Dont Know</option>
                  </select>
                </div>
              </div>
              <div class="w-full lg:w-4/12 px-4">
                <div class="relative w-full mb-3">
                  <label
                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    htmlfor="grid-password"
                  >
                    Referral from where?
                  </label>
                  <input
                    type="text"
                    id="referral_from_where"
                    name="referral_from_where"
                    placeholder="type city"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  />
                </div>
              </div>
              <div class="w-full lg:w-4/12 px-4">
                <div class="relative w-full mb-3">
                  <label
                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    htmlfor="grid-password"
                  >
                    Time taken for client to reach facility
                  </label>
                  <input
                    type="number"
                    id="time_to_reach_facility"
                    name="time_to_reach_facility"
                    placeholder="How long (in minutes)"
                    class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  />
                </div>
              </div>
              <div class="w-full lg:w-4/12 px-4">
                <div class="relative w-full mb-3">
                  <label
                    class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                    htmlfor="grid-password"
                  >
                    Transport type did she arrive with?
                  </label>
                  <select
                    name="transport_type"
                    id="transport_type"
                    class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                  >
                    <option value="ambulance">ambulance</option>
                    <option value="hospital vehicle">hospital vehicle</option>
                    <option value="public transport">Public Transport</option>
                    <option value="private transport">Private Transport</option>
                    <option value="others (specify)">Others (Specify)</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Other transport specify
                </label>
                <input
                  type="text"
                  id="other_transport_type"
                  name="other_transport_type"
                  placeholder="other (specify)"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>
            <!--last div-->
          </div>

          <hr class="mt-6 border-b-1 border-blueGray-300" />
          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
            SECTION D: LABOUR & DELIVERY
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Did labour occur?
                </label>
                <select
                  name="labour_occur"
                  id="labour_occur"
                  class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                >
                  <option value="">--select--</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                  <option value="dont know">Dont Know</option>
                </select>
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Was labour induced?
                </label>
                <select
                  name="labour_induced"
                  id="labour_induced"
                  class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                >
                  <option value="">--select--</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                  <option value="dont know">Dont Know</option>
                </select>
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Was labour augmented?
                </label>
                <select
                  name="labour_augmented"
                  id="labour_augmented"
                  class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                >
                  <option value="">--select--</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                  <option value="dont know">Dont Know</option>
                </select>
              </div>
            </div>

            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Was partograph used?
                </label>
                <select
                  name="photograph_used"
                  id="photograph_used"
                  class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-blue-500 focus:border-blue-500 sm:text-sm rounded-md"
                >
                  <option value="">--select--</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                  <option value="dont know">Dont Know</option>
                </select>
              </div>
            </div>

            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Was partograph used?
                </label>
                <input
                  type="number"
                  id="active_phase"
                  name="active_phase"
                  placeholder="in minutes"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>

            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Second phase (Hours)
                </label>
                <input
                  type="number"
                  id="second_stage"
                  name="second_stage"
                  placeholder="in minutes"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>

            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Third Stage (mins)
                </label>
                <input
                  type="number"
                  id="third_stage"
                  name="third_stage"
                  placeholder="in minutes"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>
          </div>

          <hr class="mt-6 border-b-1 border-blueGray-300" />

          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
            Contact Information
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Address
                </label>
                <input
                  type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  City
                </label>
                <input
                  type="email"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Country
                </label>
                <input
                  type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>
            <div class="w-full lg:w-4/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  Postal Code
                </label>
                <input
                  type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                />
              </div>
            </div>
          </div>

          <hr class="mt-6 border-b-1 border-blueGray-300" />

          <h6 class="text-blueGray-400 text-sm mt-3 mb-6 font-bold uppercase">
            About Me
          </h6>
          <div class="flex flex-wrap">
            <div class="w-full lg:w-12/12 px-4">
              <div class="relative w-full mb-3">
                <label
                  class="block uppercase text-blueGray-600 text-xs font-bold mb-2"
                  htmlfor="grid-password"
                >
                  About me
                </label>
                <textarea
                  type="text"
                  class="border-0 px-3 py-3 placeholder-blueGray-300 text-blueGray-600 bg-white rounded text-sm shadow focus:outline-none focus:ring w-full ease-linear transition-all duration-150"
                  rows="4"
                >
A beautiful UI Kit and Admin for JavaScript &amp; Tailwind CSS. It is Freeand Open Source.</textarea
                >
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <footer class="relative pt-8 pb-6 mt-2">
      <div class="container mx-auto px-4">
        <div
          class="flex flex-wrap items-center md:justify-between justify-center"
        >
          <div class="w-full md:w-6/12 px-4 mx-auto text-center"></div>
        </div>
      </div>
    </footer>
  </div>
</section>

<script>
  $(document).ready(function () {
    // Function to fetch districts and facilities based on selected region and district
    function fetchData(regionId, districtId) {
      $.ajax({
        url: "{% url 'get_districts_and_facilities' %}", // URL to fetch districts and facilities
        type: "GET",
        data: {
          region_id: regionId,
          district_id: districtId,
        },
        success: function (response) {
          // Clear previous options
          $("#facility_district, #facility_name").empty();

          // Add new options for districts
          $.each(response.districts, function (index, district) {
            $("#facility_district").append(
              $("<option>", {
                value: district.id,
                text: district.district_name,
              })
            );
          });

          // Add new options for facilities
          $.each(response.facilities, function (index, facility) {
            $("#facility_name").append(
              $("<option>", {
                value: facility.id,
                text: facility.facility_name,
              })
            );
          });
        },
        error: function (xhr, errmsg, err) {
          console.log("Error:", errmsg);
          // Handle error if needed
        },
      });
    }

    // Trigger change event on region dropdown after document is ready
    $("#facility_region").trigger("change");

    // Event listener for region dropdown change
    $("#facility_region").on("change", function () {
      var selectedRegionId = $(this).val();
      var selectedDistrictId = $("#facility_district").val(); // Get selected district ID
      fetchData(selectedRegionId, selectedDistrictId);
    });

    // Event listener for district dropdown change
    $("#facility_district").on("change", function () {
      var selectedRegionId = $("#facility_region").val(); // Get selected region ID
      var selectedDistrictId = $(this).val();
      fetchData(selectedRegionId, selectedDistrictId);
    });
  });

  /*for selection age and date of birth*/
  flatpickr("#date_of_birth", {
    dateFormat: "Y-m-d", // Set the date format
    // You can customize other options as needed
  });

  /*for date of arrival*/
  flatpickr("#date_of_arrival", {
    dateFormat: "Y-m-d", // Set the date format
    // You can customize other options as needed
  });

  /*time of arrival*/
  document.addEventListener("DOMContentLoaded", function () {
    flatpickr("#time_of_arrival", {
      enableTime: true,
      noCalendar: true,
      dateFormat: "H:i",
      time_24hr: true,
      allowInput: true,
    });
  });

  /*time treatment started*/
  document.addEventListener("DOMContentLoaded", function () {
    flatpickr("#time_of_arrival", {
      enableTime: true,
      noCalendar: true,
      dateFormat: "H:i",
      time_24hr: true,
      allowInput: true,
    });
  });

  $(document).ready(function () {
    $("#facility_region").select2({
      placeholder: "Select a region",
      allowClear: true, // Optional: Add a clear button
    });
    $("#facility_name").select2({
      placeholder: "Select a region",
      allowClear: true, // Optional: Add a clear button
    });
    $("#facility_district").select2({
      placeholder: "Select a region",
      allowClear: true, // Optional: Add a clear button
    });
  });

  /*for other occupation*/
  document.addEventListener("DOMContentLoaded", function () {
    // Get the occupation dropdown and other occupation input field
    const occupationDropdown = document.getElementById("occupation");
    const otherOccupationInput = document.getElementById("other_occupation");

    // Add event listener to the occupation dropdown
    occupationDropdown.addEventListener("change", function () {
      // Check if the selected value is "Other (Specify)"
      if (occupationDropdown.value === "other (specify)") {
        // Show the other occupation input field
        otherOccupationInput.style.display = "block";
      } else {
        // Hide the other occupation input field
        otherOccupationInput.style.display = "none";
      }
    });
  });

  /*for other Religion*/
  document.addEventListener("DOMContentLoaded", function () {
    // Get the religion dropdown and other religion input field
    const religionDropdown = document.getElementById("religion");
    const otherReligionInput = document.getElementById("other_religion");

    // Add event listener to the occupation dropdown
    religionDropdown.addEventListener("change", function () {
      // Check if the selected value is "Other (Specify)"
      if (religionDropdown.value === "others (specify)") {
        // Show the other occupation input field
        otherReligionInput.style.display = "block";
      } else {
        // Hide the other occupation input field
        otherReligionInput.style.display = "none";
      }
    });
  });

  /*for other Ethnicity*/
  document.addEventListener("DOMContentLoaded", function () {
    // Get the ethnicity dropdown and other ethnicity input field
    const ethnicityDropdown = document.getElementById("ethnicity");
    const otherEthinicityInput = document.getElementById("other_ethnicity");

    // Add event listener to the occupation dropdown
    ethnicityDropdown.addEventListener("change", function () {
      // Check if the selected value is "Other (Specify)"
      if (ethnicityDropdown.value === "others (specify)") {
        // Show the other occupation input field
        otherEthinicityInput.style.display = "block";
      } else {
        // Hide the other occupation input field
        otherEthinicityInput.style.display = "none";
      }
    });
  });

  /*for put on ARV*/
  document.addEventListener("DOMContentLoaded", function () {
    // Get the ethnicity dropdown and other ethnicity input field
    const hivStatusDropdown = document.getElementById("hiv_status");
    const onArvEthinicityInput = document.getElementById("on_ARV");

    // Add event listener to the occupation dropdown
    hivStatusDropdown.addEventListener("change", function () {
      // Check if the selected value is "Other (Specify)"
      if (hivStatusDropdown.value === "reactive") {
        // Show the other occupation input field
        onArvEthinicityInput.style.display = "block";
      } else {
        // Hide the other occupation input field
        onArvEthinicityInput.style.display = "none";
      }
    });
  });

  /*for ANC VISITS BY PREGNANT WOMAN*/
  document.addEventListener("DOMContentLoaded", function () {
    // Get the ethnicity dropdown and other ethnicity input field
    const ancDropdown = document.getElementById("anc");
    const totalAncVisitsInput = document.getElementById("total_anc_visits");
    const placeOfAncInput = document.getElementById("place_of_anc");
    const gestationalAgeInput = document.getElementById("gestational_age");

    // Add event listener to the occupation dropdown
    ancDropdown.addEventListener("change", function () {
      // Check if the selected value is "Other (Specify)"
      if (ancDropdown.value === "yes") {
        // Show the other occupation input field
        totalAncVisitsInput.style.display = "block";
        placeOfAncInput.style.display = "block";
        gestationalAgeInput.style.display = "block";
      } else {
        // Hide the other occupation input field
        totalAncVisitsInput.style.display = "none";
        placeOfAncInput.style.display = "none";
        gestationalAgeInput.style.display = "none";
      }
    });
  });

  /*other risk factors*/
  document.addEventListener("DOMContentLoaded", function () {
    // Get the risk factors dropdown and other risk factors input field
    const identifiedRiskFactorsDropdown = document.getElementById(
      "identified_risk_factors"
    );
    const otherRiskFactorsInput = document.getElementById("other_risk_factors");

    // Add event listener to the risk factors dropdown
    identifiedRiskFactorsDropdown.addEventListener("change", function () {
      // Check if "Others (Specify)" is selected
      const selectedOptions = Array.from(
        identifiedRiskFactorsDropdown.selectedOptions
      ).map((option) => option.value);
      if (selectedOptions.includes("others (specify)")) {
        // Show the other risk factors input field
        otherRiskFactorsInput.style.display = "block";
      } else {
        // Hide the other risk factors input field
        otherRiskFactorsInput.style.display = "none";
      }
    });
  });

  /*dob*/
  function toggleFields() {
    var dobCheckbox = document.getElementById("dob_unknown");
    var dateOfBirthField = document.getElementById("date_of_birth");
    var ageField = document.getElementById("age");
    var ageLabel = document.getElementById("ageLabel");

    if (dobCheckbox.checked) {
      // Hide date of birth field and show age field
      dateOfBirthField.style.display = "none";
      ageField.style.display = "block";
      ageLabel.innerText = "Age"; // Update label text
    } else {
      // Show date of birth field and hide age field
      dateOfBirthField.style.display = "block";
      ageField.style.display = "none";
      ageLabel.innerText = "Age"; // Update label text
    }
  }

  /*select2 for multiple select*/
  $(document).ready(function () {
    $("#identified_risk_factors").select2();
  });
</script>
{% endblock %}
