{% extends 'authentication/dashboard_base.html' %} {% block body %}

<!-- Dashboard Content -->
<div class="container mx-auto mt-8 px-4">
  <h2 class="text-3xl font-semibold mb-6">
    Maternal and Perinatal Death Reporting System
  </h2>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
  >
    <!-- Total Patients Card -->
    <div
      class="bg-white p-6 rounded-lg shadow-md hover:bg-gray-100 transition duration-300 ease-in-out"
    >
      <div class="flex items-center justify-between">
        <i class="fa-solid fa-house-crack text-yellow-500 text-4xl"></i>
        <div>
          <h3 class="text-lg font-semibold mb-2">Total Districts</h3>
          <p class="text-yellow-600 font-extrabold text-3xl">
            {{ total_districts }}
          </p>
        </div>
      </div>
    </div>
    <!-- Health Facilities Card -->
    <div
      class="bg-white p-6 rounded-lg shadow-md hover:bg-gray-100 transition duration-300 ease-in-out"
    >
      <div class="flex items-center justify-between">
        <i class="fas fa-hospital-alt text-green-500 text-4xl"></i>
        <div>
          <h3 class="text-lg font-semibold mb-2">Health Facilities</h3>
          <p class="text-yellow-600 font-extrabold text-3xl">
            {{ total_facilities }}
          </p>
        </div>
      </div>
    </div>
    <!-- Health Regions Card -->
    <div
      class="bg-white p-6 rounded-lg shadow-md hover:bg-gray-100 transition duration-300 ease-in-out"
    >
      <div class="flex items-center justify-between">
        <i class="fas fa-hospital-alt text-blue-700 text-4xl"></i>
        <div>
          <h3 class="text-lg font-semibold mb-2">Regions</h3>
          <p class="text-yellow-600 font-extrabold text-3xl">
            {{ total_regions }}
          </p>
        </div>
      </div>
    </div>
    <!-- Total Deaths Card -->
    <div
      class="bg-white p-6 rounded-lg shadow-md hover:bg-gray-100 transition duration-300 ease-in-out"
    >
      <div class="flex items-center justify-between">
        <i class="fas fa-skull-crossbones text-red-500 text-4xl"></i>
        <div>
          <h3 class="text-lg font-semibold mb-2">Maternal Deaths</h3>
          <p class="text-gray-600 text-xl">{{ maternal_deaths }}</p>
        </div>
      </div>
    </div>
    <!-- Perinatal Deaths Card -->
    <div
      class="bg-white p-6 rounded-lg shadow-md hover:bg-gray-100 transition duration-300 ease-in-out"
    >
      <div class="flex items-center justify-between">
        <i class="fas fa-baby text-blue-500 text-4xl"></i>
        <div>
          <h3 class="text-lg font-semibold mb-2">Perinatal Deaths</h3>
          <p class="text-gray-600 text-xl">{{ perinatal_deaths }}</p>
        </div>
      </div>
    </div>
  </div>

  <!-- User Modules -->
  <h2 class="text-3xl font-semibold mt-12 mb-6">User Modules</h2>
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6"
  >
    <!-- Departments Module -->
    <div
      class="bg-white p-6 rounded-lg shadow-md hover:bg-gray-100 transition duration-300 ease-in-out"
    >
      <div class="flex items-center justify-between">
        <i class="fas fa-building text-blue-500 text-4xl"></i>
        <div>
          <h3 class="text-lg font-semibold mb-2">Organisation unit</h3>
          <a
            href="{% url 'facility_creation' %}"
            class="text-purple-500 hover:underline"
            >View Module</a
          >
        </div>
      </div>
    </div>
    <!-- Health Informatics Module -->
    <div
      class="bg-white p-6 rounded-lg shadow-md hover:bg-gray-100 transition duration-300 ease-in-out"
    >
      <div class="flex items-center justify-between">
        <i class="fas fa-folder text-green-500 text-4xl"></i>
        <div>
          <h3 class="text-lg font-semibold mb-2">Analytics</h3>
          <a href="#" class="text-purple-500 hover:underline">View Module</a>
        </div>
      </div>
    </div>
    <!-- Laboratory Module -->
    <div
      class="bg-white p-6 rounded-lg shadow-md hover:bg-gray-100 transition duration-300 ease-in-out"
    >
      <div class="flex items-center justify-between">
        <i class="fa-solid fa-person-pregnant text-red-500 text-4xl"></i>
        <div>
          <h3 class="text-lg font-semibold mb-2">Maternal Deaths</h3>
          <a
            href="{% url 'maternal_entry' %}"
            class="text-purple-500 hover:underline"
            >View Module</a
          >
        </div>
      </div>
    </div>
    <!-- Doctors Module -->
    <div
      class="bg-white p-6 rounded-lg shadow-md hover:bg-gray-100 transition duration-300 ease-in-out"
    >
      <div class="flex items-center justify-between">
        <i class="fas fa-baby text-blue-950 text-4xl"></i>
        <div>
          <h3 class="text-lg font-semibold mb-2">Perinatal Deaths</h3>
          <a href="#" class="text-purple-500 hover:underline">View Module</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{ redirect_to_login_immediately }} {% endblock %}
