{% extends 'authentication/base.html' %} {% block body %}

<div class="container mx-auto mt-8">
  <div class="max-w-lg mx-auto bg-white shadow-md rounded-lg overflow-hidden">
    <div class="p-6">
      <h2 class="text-2xl font-semibold mb-4">Welcome Back!</h2>
      <!-- Login Form -->
      <div class="container mx-auto mt-8">
        <p class="text-2xl font-semibold mb-4"> Forgotten your password? Enter your email address below, and we’ll
            email instructions for setting a new one.</p>
        

        <form method="POST" autocomplete="off" class="space-y-5">
          {% csrf_token %} {{ form.as_p }}
          <input type="submit" value="Submit" class="bg-blue-500 text-white py-2 px-4 rounded-md cursor-pointer"/>
        </form>
      </div>
    </div>
</div>
</div>
    {% endblock body %}
  </div>
</div>
